# From http://www.w3.org/TR/swbp-vocab-pub/#recipe4 
Options -MultiViews

AddType application/rdf+xml .rdf .owl
AddType text/plain .ttl
RewriteEngine On
AddCharset utf-8 .txt .log .ttl


##################
# Rewrite rule if *.owl, .ttl or .ttl  files are requested
##################
RewriteRule \.(owl|rdf|html|ttl|nt|txt|md)$ - [L]

##################
# Rewrite rule to serve  text/html content if requested
##################
RewriteCond %{HTTP_ACCEPT} text/html
RewriteRule ^nif-core$ /nlp2rdf/ontologies/nif-core/nif-core.html [R=303,L]

RewriteCond %{HTTP_ACCEPT} text/html
RewriteRule ^rlog$ /nlp2rdf/ontologies/rlog/rlog.html [R=303,L]

RewriteCond %{HTTP_ACCEPT} text/html
RewriteRule ^stc$ /nlp2rdf/ontologies/testcase/stc.html [R=303,L]

##################
# Rewrite rule to serve RDF/XML content if requested
##################
RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule ^nif-core$ /nlp2rdf/ontologies/nif-core/nif-core.owl [R=303,L]

RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule ^rlog$ /nlp2rdf/ontologies/rlog/rlog.owl [R=303,L]

RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
RewriteRule ^stc$ /nlp2rdf/ontologies/testcase/stc.owl [R=303,L]

#################
# Default
#################
RewriteRule ^nif-core$ /nlp2rdf/ontologies/nif-core/nif-core.ttl [R=303,L]
RewriteRule ^rlog$ /nlp2rdf/ontologies/rlog/rlog.ttl [R=303,L]
RewriteRule ^stc$ /nlp2rdf/ontologies/testcase/stc.ttl [R=303,L]

